.dash, input {
  -webkit-appearance: none;
}

.dash, html, body {
  min-height: 100%;
}

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dash li {
  list-style: none;
}

a {
  text-decoration: none;
}

html, body {
  min-height: 100%;
}

.table-wrapper > ul {
  opacity: 0;
  -webkit-animation: nav-fade 0.5s forwards;
          animation: nav-fade 0.5s forwards;
  transform: translateY(-50px);
}

.material-button {
  background-color: #FB5555;
  cursor: pointer;
  height: 44px;
  width: 44px;
  border-radius: 100%;
  position: absolute;
  bottom: -20px;
  right: 30px;
  transition: all 0.2s ease-in-out;
}
.material-button:before {
  content: "+";
  text-align: center;
  display: block;
  font-size: 34px;
}
.material-button:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.container1 {
  margin: auto;
  min-width: 960px;
  padding: 10px;
  max-width: 100%;
  width :100%;
}

/* .recentReports {
  width: 25%
} */

.header-wrapper {
  background: #444367;
  border-radius: 5px 5px 0 0;
  flex-basis: 100%;
  flex-grow: 1;
  position: relative;
  margin: auto;
  padding: 20px 2px;
}
.header-wrapper * {
  color: #fff;
}
.header-wrapper .title {
  font-size: 1.6rem;
  font-weight: 300;
}
.header-wrapper .note {
  color: #C6C5D1;
  font-weight: 500;
  font-size: 0.85rem;
}
.header-wrapper .logo {
  color: #FF9081;
  display: flex;
  float: left;
  font-weight: bold;
	content:url(../Images/cert.png);
  width: 15%;
  margin-bottom: 10px;
}
.focus {
  color: #fff;
}

.content-wrapper {
  background: #eee;
  border-radius: 0 0 5px 5px;
  display: flex;
  padding: 40px;
}

.table-wrapper {
  background: #fff;
  border-radius: 5px;
  flex-basis: 100%;
  flex-grow: 1;
  margin: 10px auto;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

.horizontal {
  display: flex;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-gap: 20px;
}

.stats {
  background-color: #444367;
  color: #f7f7fa;
  font-weight: 500;
  font-size: 1.04rem;
  float: right;
  margin-top: -60px;
}

.colorStats {
  width: 100%;
  font-weight: bolder;
  background-color: #66a0f9;
  text-align: center;
  height: 35px;
}
.colorStatsDiv {
padding-top: 10px;
}
.red {
  background-color: rgb(140, 0, 0);
  width: 150px;
}
.green {
  background-color: rgb(2, 187, 2);
  width: 150px;
}
.yellow {
  background-color: rgb(174, 174, 2);
  width: 150px;
}
.black {
  background-color: black;
  width: 150px;
}
.default {
  background-color: #444367;
  width: 150px;
}

h5{
  text-align: center;
}
