.outCSS{
    margin: 1% 10% 10% 10%;
    width: 80%;
    background-color:#ededed;
    padding: 5%;
    border-radius: 6%;
}
.headingPage {
    text-align: center;
    color: white;
    font-size: x-large;
}
.impFld{
	color: red;
    font-size: 18px;
    padding: 4px;
}
button#modalBtnhide.btn.btn-primary {
    display: none;
}

.btn-primary{
    width:400px;
}
.container{
    width:80%;
    max-width: 80%;
}
.btnCss{
    margin: 0% 1% 0% 30%;
}