.outCSS{
    background-color:#ededed;
    border-radius: 1%;
}
.headingPage{
    text-align: center;
    color: white;
    background-color: #2b2b4e;
    font-size: x-large;
}
.impFld{
	color: red;
    font-size: 18px;
    padding: 4px;
}
button#modalBtnhide.btn.btn-primary {
    display: none;
}

.btn-primary{
    width:400px;
}
.container{
    width:80%;
    max-width: 80%;
}