
body{
  background-color: white !important;
}  
  
h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.outerDivTable{
  overflow-x:scroll;
}
.imgClss{
  width: 40px;
}
th.k-header {
  background: #2b2b4e;
  color: white;
}

#incTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#incTable td, #incTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#incTable tr:nth-child(even){background-color: #f2f2f2;}

#incTable tr:hover {background-color: #ddd;}

#incTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

#text-right {
  float: right;
  padding: 10px;
}
#text-right span{
  padding: 10px;
}
.k-filtercell-operator button {
  display: none;
}
button.k-button.k-button-md.k-button-rectangle.k-button-solid.k-button-solid-base.k-rounded-md.k-icon-button{
  display: none;
}