
body{
  background-color: white !important;
}  
  
h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.outerDivTable{
  overflow-x:scroll;
}
.imgClss{
  width: 40px;
}
th.k-header {
  background: #2b2b4e;
  color: white;
}